<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Купить фильм</title>
</head>
<body>
<div layout:fragment="content">
  <h3 class="mt-3 mb-3" th:text="'Покупка фильма ' + ${film.getFilmTitle()}"></h3>
  <form method="POST" th:action="@{/rent/buy}" th:object="${buyFilmForm}">
    <input type="hidden" name="filmId"
           th:value="${film.getId()}">

    <div class="mt-3 row g-2">
      <button type="submit" class="btn btn-primary">Вы хотите купить фильм?</button>
      <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </div>
  </form>
</div>
</body>
</html>
